<div class="body" style="background-color: white;">

    <div class="main-logo-holder">
        <img class="main-logo" src="assets/img/login-logo.png" width="390px" height="150px" alt="Usac Ingenieria">
    </div>
    <br>


    <ng-container *ngIf="Estado==='Login'">
        <br>
        <div>
            <div class="container">
                <div class="page-header">
                    <h1 class="text-center">Iniciar Sesión</h1><br>
                </div>
                <form class="form login col-sm-6 col-sm-offset-3" style="margin: auto;">
                    <div class="form-group">
                        <input type="text" name="callback_0" value="" data-validator="required" required=""
                            data-validator-event="keyup" class="form-control input-lg"
                            placeholder="CUI / REGISTRO ACADÉMICO / REGISTRO PERSONAL" autofocus="" [(ngModel)]="Registro">
                    </div>
                    <div class="form-group">
                        <input type="password" name="callback_1" class="form-control input-lg" placeholder="Contraseña"
                            value="" data-validator="required" required="" data-validator-event="keyup" [(ngModel)]="Contrasenia">
                    </div><br>
                    <div class="form-group">
                        <input name="callback_2" type="submit" role="button" index="0" value="Iniciar Sesión"
                            class="btn btn-lg btn-block btn-uppercase btn-primary" (click)="IniciarSesion()">
                    </div><br>
                    <nav class="text-center clearfix remember-forgot" role="navigation">
                        <a (click)="AReestablecer()">¿Olvidó su contraseña?</a>
                    </nav><br>
                    <nav class="text-center clearfix remember-forgot" role="navigation">
                        <a (click)="ARegistrar()">¿No tienes registro?</a>
                    </nav><br>
                </form>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="Estado==='Registrar'">
        <br>
        <div>
            <div class="container">
                <div class="Regresar">
                    <button class="btn btn-info" (click)="ALogin()">
                        Regresar
                    </button>
                </div>
                <div class="page-header">
                    <h1 class="text-center">Registrar Usuario</h1><br>
                </div>
                <form class="form login col-sm-6 col-sm-offset-3" style="margin: auto;">
                    <div class="form-group">
                        <input type="text" name="callback_0" value="" data-validator="required" required=""
                            data-validator-event="keyup" class="form-control input-lg" placeholder="REGISTRO ACADÉMICO"
                            autofocus="" [(ngModel)]="Registro">
                    </div>
                    <div class="form-group">
                        <input type="text" name="callback_0" value="" data-validator="required" required=""
                            data-validator-event="keyup" class="form-control input-lg" placeholder="NOMBRES"
                            autofocus="" [(ngModel)]="Nombres">
                    </div>
                    <div class="form-group">
                        <input type="text" name="callback_0" value="" data-validator="required" required=""
                            data-validator-event="keyup" class="form-control input-lg" placeholder="APELLIDOS"
                            autofocus="" [(ngModel)]="Apellidos">
                    </div>
                    <div class="form-group">
                        <input type="password" name="callback_1" class="form-control input-lg" placeholder="CONTRASEÑA"
                            value="" data-validator="required" required="" data-validator-event="keyup" [(ngModel)]="Contrasenia">
                    </div>
                    <div class="form-group">
                        <input type="text" name="callback_0" value="" data-validator="required" required=""
                            data-validator-event="keyup" class="form-control input-lg" placeholder="CORREO ELECTRÓNICO"
                            autofocus="" [(ngModel)]="Correo">
                    </div>
                    <div class="form-group">
                        <input name="callback_2" type="submit" role="button" index="0" value="CREAR USUARIO"
                            class="btn btn-lg btn-block btn-uppercase btn-primary" (click)="Registrar()">
                    </div><br>
                </form>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="Estado==='Reestablecer'">
        <div>
            <div class="container">
                <div class="Regresar">
                    <button class="btn btn-info" (click)="ALogin()">
                        Regresar
                    </button>
                </div>
                <div class="page-header">
                    <h1 class="text-center">Reestablecer Contraseña</h1><br>
                </div>
                <p>Ingrese sus datos</p>
                <form class="form login col-sm-6 col-sm-offset-3" style="margin: auto;">
                    <div class="form-group">
                        <input type="text" name="callback_0" value="Registro" data-validator="required" required=""
                            data-validator-event="keyup" class="form-control input-lg" placeholder="REGISTRO ACADÉMICO"
                            autofocus="" [(ngModel)]="Registro">
                    </div>
                    <div class="form-group">
                        <input type="text" name="callback_0" value="Correo" data-validator="required" required=""
                            data-validator-event="keyup" class="form-control input-lg" placeholder="CORREO ELECTRÓNICO"
                            autofocus="" [(ngModel)]="Correo">
                    </div>
                    <p>Nueva Contraseña</p>
                    <div class="form-group">
                        <input type="text" name="callback_0" value="Contrasenia" data-validator="required" required=""
                            data-validator-event="keyup" class="form-control input-lg" placeholder="Nueva Contraseña"
                            autofocus="" [(ngModel)]="Contrasenia">
                    </div>  
                    <div class="form-group">
                        <input name="callback_2" type="submit" role="button" index="0" value="Reestablecer"
                            class="btn btn-lg btn-block btn-uppercase btn-primary" (click)="Reestablecer()">
                    </div>            
                    <br>
                </form>
            </div>
        </div>
    </ng-container>
    <br>
    <br>
    <br>
    <br>
</div>